*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    margin: 10px  0;
    text-transform: uppercase;  
}
input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: #111;
    margin: 4px  0px;
    border-radius: 4px;
    padding: 8px;
    color: #fff;

}
input:focus{
    border: solid;
    border-color: #a929e4;
    border-width: thin;
    
}
.price input{
    width: 20%;
}
#total{
    background: #c90b0b;
    padding: 5px 2px;
    border-radius: 5px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    background: #8f16c7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.5ms;
    margin: 4px 0;

}
button:hover{
    background: #a929e4;
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
.outputs{
    margin: 4px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}